<body style="background-color:lightgrey">
<div class="container p-3 my-3 border">
<h1 style ="text-align:center">Student Information</h1>
</div>

<div class="container p-3 my-3 border">
	<%= form_with url: "/student_details/view_result", method: :post do |form|%>
	<div class="row">
		<%= form.label :sem_id, "Select Sem : " %>
	  <%= select_tag "sem_id", options_for_select(@semeters.collect{|s| [s.sem_id, s.id]}.insert(0, ["Please Select Sem", ""] ), params["sem_id"]), :class => "form-control input-sm" %>
	</div><br>
	<div class="row" >
		<%= form.label :usn, "USN : " %>
	  <%= text_field_tag :usn,  params[:usn] %>
	</div><br>

	<%= form.submit "Get Result" %>
	<%end%>
</div>