<h1>Editing Subject</h1>
 
<%= form_for([@semester, @subject]) do |f| %>
  <div class="field">
    <%= f.label :subject_code %><br />
    <%= f.text_field :subject_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%#= link_to 'Show', @subject %> 
<%#= link_to 'Back', subjects_path %>